.git
.github
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.env
.env.*
!**/.env.example
apps/api/data
data
*.wt
WiredTiger*
mongod.lock
journal
.tmp
.temp
*.log
uploads
storage
.DS_Store
.idea
.vscode
